<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Log In Password </title>
</head>
<body>
    <form action="/create-password" method="Post">
        <input type="password" name="insPassword" placeholder="Enter Password">
        <input type="password" name="insRePassword" placeholder="Re-Enter Password">
        <button>Save</button>
    </form>
</body>
</html>