<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/ins-register" method="Post">
        <input type="text" name="insName" placeholder="Enter your Institute Name">
        <input type="text" name="name" placeholder="Enter your Name">
        <input type="email" name="insEmail" placeholder="Enter your Email">
        <input type="tel" name="insPhoneNumber" placeholder="Enter Your Phone Number">
        <label for="State">State</label>
        <select name="insState" id="State">
            <option value="Uttar Pradesh">Uttar Pradesh</option>
        </select>
        <label for="District">District</label>
        <select name="insDistrict" id="District">
            <option value="Agra">Agra</option>
        </select>
        <input type="tel" name="insPincode" placeholder="Enter Your Pin code">
        <textarea name="insAddress" id="" cols="30" rows="10" placeholder="Enter Address">Address</textarea>
        <textarea name="insAbout" id="" cols="30" rows="10" placeholder="Enter About">About</textarea>
        <label for="Mode">Mode of Teaching</label>
        <select name="insMode" id="Mode">
            <option value="Online">Online</option>
        </select>
        <label for="Type">Type</label>
        <select name="insType" id="Type">
            <option value="Coaching">Coaching</option>
        </select>
        <button>Submit</button>
    </form>
</body>
</html>