<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <form action="/insdashboard/<%= institute._id %>/ins-post" method="Post">
        <input type="text" name="postTitle" placeholder="Enter Title">
        <input type="text" name="postPhoto" placeholder="Enter Photo">
        <textarea name="postDesc" cols="30" rows="10">Post Desc</textarea>
        <label for="postTag"></label>
        <select name="postTag" id="postTag">
            <option value="Community">
                Community
            </option>
            <option value="Academics">Academics</option>
        </select>
        <button>Save</button>
    </form>
</body>
</html> -->