<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Creation</title>
</head>
<body>
    <form action="/profile-creation" method="Post">
        <input type="text" name="userLegalName" placeholder="Enter Your Legal Name">
        <input type="date" name="userDateOfBirth" placeholder="Enter Your Date of Birth">
        <input type="text" name="userGender" placeholder="Enter Your Gender">
        <input type="text" name="userAddress" placeholder="Enter Your Address">
        <input type="text" name="userBio" placeholder="Enter Your Bio">
        <button>Save</button>
    </form>
</body>
</html>