<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Admin</title>
</head>
<body>
    <form action="/super-admin" method="Post">
        <input type="text" name="adminName" placeholder="Enter Name">
        <input type="text" name="adminUserName" placeholder="Enter User Name">
        <input type="tel" name="adminPhoneNumber" placeholder="Enter Your Mobile Number">
        <input type="email" name="adminEmail" placeholder="Enter Your Email">
        <input type="password" name="adminPassword" placeholder="Enter Your Password">
        <input type="text" name="adminGender" placeholder="Enter Gender">
        <input type="date" name="adminDateOfBirth">
        <input type="text" name="adminBio" placeholder="Enter Bio">
        <input type="text" name="adminCity" placeholder="Enter City">
        <input type="text" name="adminState" placeholder="Enter State">
        <input type="text" name="adminCountry" placeholder="Enter Country">
        <input type="text" name="adminAddress" placeholder="Enter Address">
        <input type="file" name="adminAadharCard">
        <button>Save</button>
    </form>
</body>
</html>