<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
</head>
<body>
    <form action="/user-register" method="post">
        <input type="tel" name="userPhoneNumber" placeholder="Enter Mobile Number">
        <input type="email" name="userEmail" placeholder="Enter Email">     
        <button>Save</button> 
    </form>
</body>
</html>